@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');

@font-face {
    font-family: 'Inter', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
    font-weight: 300;
    font-style: normal;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
:root{
    --primary: radial-gradient(circle at 12% 55%,rgba(62, 49, 115, 0.333),rgba(212, 212, 212, 0.695) 25%),radial-gradient(circle at 85% 33%,rgba(125, 119, 186, 0.355),rgba(44, 43, 43, 0.337) 25%);
    --textcolor: linear-gradient(270deg, #2357f3e1 2%, #0853f4 98%);
    --secondary: linear-gradient(270deg, #4b77fce1 2%, #0853f4 98%);
    --ternary: linear-gradient(270deg, #a1b7fd4e 2%, #e7efff5a 98%);
    --outline : rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  transform: rotate(320deg);
}
#preloader{
    display: flex;
    background: #fbfbfb url(pic/gif.gif) no-repeat center center;
    background-size: 30%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#upper{
    margin-top: 10rem;
}
body{
    background: #fff;
    background-size: cover;
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    transition: background 2s ease-out 5s;
    scroll-behavior: smooth;
}
.logo{
    font-family: 'Mulish', sans-serif;
    font-size: 2.1rem;
    margin-top: 1rem;
    margin-left: 6rem;
    color: rgb(40, 40, 41);
}
.toggle-btn{
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-btn .bar{
    height: 3px;
    width: 100%;
    background-color: rgb(70, 69, 69);
    border-radius: 10px;
}
@media (max-width: 900px){
    #preloader{
        background-size: 60%;
    }
    #upper{
        font-size: 1.6rem;
    }
    body{
        background-position: center center;
    }
    .toggle-btn{
        display: flex;
        margin-top: 1rem;
        height: 18px;
    }
    .nav-links{
        display: none;
        width: 100%;
    }
    .nav-bar{
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-links ul{
        flex-direction: column;
        width: 100%;
    }
    .nav-links li{
        text-align: center;
    }
    .nav-links li a{
        padding: .5rem 1rem;
    }
    .nav-links.active{
        display: flex;
    }
    .logo{
        margin-left: 1.2rem;
        font-size: 1.7rem;
    }
    .content{
        justify-content: space-between;
        margin-left: -1.6rem;
    }
    
    .comment, .next-item{
        font-size: 1.7rem;
    }
    .text-me{
        font-size: 1rem;
    }

    .btn{
        display: flex;
        position: relative;
        top: 3rem;
        margin-left: -1.6rem;
        width: 100%;
        justify-content: center;
    }
    .text-me{
        margin: 0 auto;
        font-size: 0.5rem;
    }
    .content{
        display: flex;
        flex-direction: column;
    }
    #description-1, #description-2{
        font-size: 10rem;
    }
}

#next{
    background: var(--textcolor);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #3070fc;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
}
.nav-header{
    display: flex;
}
.nav-links{
    margin-right: 5rem;
}
ul li{
    margin-top: 1.5rem;
    padding: 0 1.3rem;
}
ul li a{
    display: block;
    color: #656565;
    font-size: 1.13rem;
    font-family: 'Noto Sans', sans-serif;
    border-bottom: 1px solid;
    border-style: none;
    border-radius: 2em;
    padding: 0.3em 0.7em;
    transition: all 0.23s ease;
}
ul li a:hover{
    color: rgb(37, 101, 227);
    box-shadow:  0px 2px 0px 0px rgb(78, 77, 77);
    transform: scale(1);
}
img{
    width: 100%;
}
.content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-family: 'Inter', sans-serif;
    font-size: 2.8rem;
    justify-content: space-around;
}
.illustration{
    width: 100%;
    margin-top: 9rem;
    padding-right: 3rem;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
    margin-left: 3.7rem;
    margin-top: 4rem;
}
#second, #third{
    background: var(--textcolor);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #3070fc;
}
.next-item{
    justify-self: flex-start;
}
#description-1{
    font-size: 1.62rem;
    margin-top: 2.8rem;
    color: #656565;
    line-height: 1.34;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}
#description-2{
    font-size: 1.59rem;
    color: #656565;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}
.btn{
    display: flex;
    border: none;
    position: relative;
    background-image: var(--secondary);
    color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 0.55em 0.50em;
    font-size: 1.3rem;
    cursor: pointer;
    overflow: hidden;
}
.btn::before{
    content: "";
    width: 200%;
    height: 100%;
    position: absolute;
    transform: translateX(-80%) rotate(40deg);
    top: 69%;
    left: 5%;
    background: var(--ternary);
    transition: all 1s ease-out;
    display: block;
}
.btn:hover::before{
    transform: translateX(80%) rotate(40deg);
}
.connect{
    display: flex;
    margin-left: 3.7rem;
}
#music-player{
    display: grid;
    margin-top: 13rem;
    justify-content: center;
    width: 100%;
}
.text-me{
    font-family: 'Lato', sans sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
}
footer{
    width: 100%;
    height: 200px;
}